@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  --background-color: #F2E5D9;
  --recipe-background-color: #FFFFFF;
  --text-color: #474645;
  --prep-background-color: #F1E6E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}